{% extends 'admin/base_site.html' %}

{% block title %}Site administration | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Kinship administration') }}</a></h1>
{% endblock %}

{% block content_title %}<h1>Import attendees for conference: {{ conference.name }}</h1>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../../../">Home</a> &rsaquo;
    <a href="../../../">Conferences</a> &rsaquo;
    <a href="../../">{{ conference.name }}</a> &rsaquo;
    Import Attendees
</div>
{% endblock %}

{% block content %}
<div>
    <form action="." method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Upload CSV</button>
    </form>
</div>
<br />
{% endblock %}
