{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  <li>
      <a href="import-attendee-csv/" class="viewsitelink">
        Import Attendee CSV
      </a>
  </li>
  {{ block.super }}
{% endblock %}
