{% load rest_framework %}

<html>

<body>

    <h1>Create Application</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {% render_form serializer %}
        <input type="submit" value="Save">
    </form>

</body>

</html>
