Hey {{ user_first_name }},<br><br>

Here’s the link to download your Kinship data. The link will only be active for the next 24 hours, so if you don't download it before then, you'll need to request a new data export in the Kinship app.<br><br>

{{ url }}?token={{ token }}<br><br>

Sincerely,<br><br>

Kinship<br>
<a href="https://twitter.com/heykinship" >@heykinship</a>
