Hey {{ user_first_name }},<br><br>
Please click the following link to verify your email address for Kinship.<br><br>
<a href="https://kinship.app.link/?screen=verifyemail&otp={{ otp }}&email={{ email }}">VERIFY EMAIL</a><br><br>
Stay connected!<br><br>
Kinship<br>
<a href="https://twitter.com/heykinship" >@heykinship</a>
