Hi {{ user_first_name }},<br><br>

This email is to notify you that the primary email address on your Kinship account has been updated.<br><br>
If you did not intend this, please contact customer service at support@kinshipsystems.com as soon as possible for further assistance.<br><br>

Sincerely,<br><br>

The Kinship Team
