Hi {{ user_first_name }},<br><br>

Please use the code {{ code }} to reset your Kinship password. This code<br>
will only be valid for the next 10 minutes.<br><br>

Sincerely,<br><br>

The Kinship Team
